


.text-decorator-none{
    text-decoration: none;
}

.text-decorator-none{
    text-decoration: none;
}



.MuiInputBase-input {
   
    color: 	#e25ec5!important;
    
}

.MuiOutlinedInput-notchedOutline {
    border-color: #d131e0 !important;
}

.botao{
    background-color: '#ffdd' !important;
    
}

.background-image1{
    background-image: url(https://www.apptuts.net/wp-content/uploads/2020/04/criar-um-blog-pessoal-dicas.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
    
