.text-decorator-none{
    text-decoration: none;
}

.text-decorator-none{
    text-decoration: none;
}



.MuiInputBase-input {
   
    color: #c0c0c0 !important;
    
}

.MuiOutlinedInput-notchedOutline {
    border-color: #d131e0 !important;
}

.botao{
    background-color: #ffff !important;
    
}