.text-decorator.none{
    text-decoration: none !important;
}

.marginLeft{
    margin-left: 20px;


}




.button {
    /* Variables */
   --button_radius: 0.75em;
   --button_color: #fbca1f!important;
   --button_outline_color: #000000!important;
   font-size: 17px;
   font-weight: bold !important;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color)!important;
  
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color)!important;
   border-radius: var(--button_radius);
   padding: 0.75em 1.5em;
   background: #fbca1f!important;
   color: var(--button_outline_color)!important;
   transform: translateY(-0.2em)!important;
   transition: transform 0.1s ease !important;

    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em)!important;
  
    /* Push the button downwards when pressed */
   transform: translateY(0)!important;
}