

.menu{
   
    
    padding:15px;
    font-size: 20px !important ;
   
}

.cor{
    background: linear-gradient(90deg, #d131e0 0%, #d131e0cb 100%) !important;
 }
 
 .text-decorator-none{
    text-decoration: none;
}