

.menu{
   
    
    padding:15px;
    font-size: 20px !important ;
    color: #000 !important
   
}

.cor{
    background: #FBCA1F !important;
 }
 
 .text-decorator-none{
    text-decoration: none;
}