.text-decorator.none{
    text-decoration: none !important;
}

.marginLeft{
    margin-left: 20px;


}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color: #feeeb5!important;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: #feeeb5!important;
}

.MuiCardActions-root {
    display: flex;
    padding: 8px;
    align-items: center;
    background-color:#feeeb5!important;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#ffffcc!important;
}

.MuiCardContent-root {
    padding: 16px;
    background-color: #feeeb5!important;
}